@mixin centerPage {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin respond($width) {
	@media only screen and (max-width: $width) {
		@content;
	}
}
