.main-page {
	@include centerPage;

	&__btn {
		border-radius: 3px;
		padding: 0 3rem;
		background-color: $color-grey-2;
		outline: none !important;
		margin-top: 2rem;
		transition: transform 0.2s;
		cursor: pointer;
		&:hover {
			transform: translateY(3px);
		}
	}
}

.additional-content {
	&__task-block {
		display: flex;
		flex-flow: column nowrap;
		width: 70%;
	}

	&__title {
		font-size: 2.2rem;
		padding: 2rem;
	}

	&__task {
		padding-left: 4rem;
	}

	&__link {
		text-decoration: none !important;
		padding-left: 2rem;
	}

	&__ps {
		padding-left: 2rem;
		margin-top: 3rem;
	}
}
